footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
div {
    position: relative;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
